/* =============== IMPORTAR FUENTE  =============== */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;600;800&family=Poppins:ital,wght@0,200;0,400;0,600;1,700&display=swap");
/* =============== VARIABLES  =============== */
:root {
  --background: #141234;
  --background-second: #0e0c2a;
  --text: #ebebeb;
  --gray: #292929;
  --lightgray: #3d3d3d;

  --primary: #36d1dc;
  --primary2: #52e8f3;

  --secondary: #5b86e5;
}

/* =============== RESET  =============== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =============== ESTILOS APLICADOS A TODOS LOS ELEMENTOS  =============== */
* {
  scroll-behavior: smooth;
}

/* =============== BODY  =============== */
body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
  color: var(--text);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--background-second);
}

::-webkit-scrollbar-thumb {
  background: var(--text);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* =============== HEADER  =============== */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(14, 12, 42, 0.27);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border-bottom: 1px solid #ffffff9a;
}

.header__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #fff;
}

.sticky {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
}

/* Logo */

.logo {
  opacity: 0;
}

.logo__img {
  border: 2px solid #fff;
  border-radius: 100%;
  width: 80px;
  transition: all 0.2s;
}

.logo__img:hover {
  box-shadow: 0 0 20px 2px var(--primary);
}

.logo:active > .logo__img {
  box-shadow: 0 0 20px 2px var(--text);
  filter: brightness(1.2);
}

/* Títulos */
.title-container {
  text-align: center;
  font-family: "Outfit", sans-serif;
}
.title {
  font-size: 2rem;
  font-weight: 600;
  opacity: 0;
}
.subtitle {
  font-size: 1rem;
  font-weight: 200;
  opacity: 0;
}

/* =============== NAVBAR  =============== */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
/* --- Buscador --- */

.search-input {
  width: 250px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--secondary);
  padding: 5px;
  color: var(--text);
  border-radius: 5px 5px 0 0;
  font-family: "Poppins", sans-serif;
  opacity: 0;
  transition: all 0.2s;
}

.search-input::placeholder {
  color: #ffffffa5;
  font-family: "Poppins", sans-serif;
}

.search-input:hover {
  border-color: var(--primary);
  background: linear-gradient(45deg, var(--primary) 0%, transparent 30%);
}

.search-input:focus {
  outline: 1px solid var(--primary);
  border-color: var(--primary);
  background: linear-gradient(45deg, var(--primary) 0%, transparent 30%);
}

/* Boton de buscar */

.search-btn {
  font-size: 1.1rem;
  background: none;
  border: none;
  color: var(--text);
  opacity: 0;
  transition: all 0.2s;
}

.search-btn:hover {
  color: var(--primary);
  cursor: pointer;
}

/* Boton del menú hamburguesa */
.menu-navbar-btn {
  background: none;
  color: var(--text);
  border: none;
  font-size: 2.3rem;
  display: none;
  opacity: 0;
}
.menu-navbar-btn:hover {
  color: var(--primary);
}

/* Carrito */

.cart-container {
  position: relative;
  opacity: 0;
}
.cart-btn {
  font-size: 1.5rem;
  color: var(--text);
  background: none;
  border: none;
  transition: all 0.2s;
}
.cart-btn:hover {
  cursor: pointer;
  color: var(--secondary);
}

.cart-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10px, -10px);
  color: var(--background);
}

/* Segundo Navbar */

.navbar__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 150px;
  list-style: none;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  padding: 20px;
}

.navbar__link {
  font-weight: 700;
  color: var(--background);
  text-decoration: none;
  padding: 10px;
  border: 2px solid var(--background);
  border-radius: 10px;
  background: var(--primary2);
  opacity: 0;
  transition: all 0.2s;
}

.navbar__link:hover {
  background: var(--secondary);
  color: var(--text);
  border-color: var(--text);
}

.navbar__link:active {
  background-color: var(--text);
  color: var(--background);
  border-color: var(--primary);
}

/* =============== NAVBAR PARA CELULAR  =============== */

.mobile-navbar {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--background-second);
  width: 100%;
  padding: 30px;
  margin-top: 100px;
  border-bottom: 2px solid var(--text);
  border-left: 2px solid var(--text);
  border-right: 2px solid var(--text);
  border-radius: 0 0 10px 10px;
  display: none;
  transform: translateX(-100%);
  transition: all 0.2s;
}

.mobile-navbar-active {
  transform: translateX(0);
}

.mobile-navbar__ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
  list-style: none;
  font-family: "Outfit", sans-serif;
  font-size: 1.3rem;
  padding: 20px;
}

/* Buscador */

.mobile-search-input {
  width: 300px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--secondary);
  padding: 5px;
  color: var(--text);
  border-radius: 5px 5px 0 0;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s;
  font-size: 1.2rem;
}

/* Botón de buscar */

.mobile-search-btn {
  font-size: 1.8rem;
  background: none;
  border: none;
  color: var(--text);
  transition: all 0.2s;
}

.mobile-search-btn:hover {
  color: var(--primary);
  cursor: pointer;
}

/* =============== MAIN  =============== */

main {
  background: linear-gradient(to bottom, var(--background), #000);
  position: relative;
  padding-bottom: 20px;
}

/* =============== HERO  =============== */
.hero {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  gap: 100px;
}

/* Imagen */

.hero__img {
  width: 800px;
  height: 550px;
  border-radius: 20px;
  position: relative;
  object-fit: cover;
}

/* Efecto RGB de la imagen */

.img-effect {
  position: relative;
  opacity: 0;
}

.img-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    red,
    blue,
    deeppink,
    blue,
    red,
    blue,
    deeppink,
    blue,
    red
  );
  background-size: 800%;
  border-radius: 10px;
  filter: blur(10px);
  animation: glowing 20s linear infinite;
}

/* Animación RGB de la imagen */

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Textos */

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Título */

.hero__title {
  font-family: "Outfit", sans-serif;
  font-size: 6rem;
  text-align: center;
  font-weight: 600;
  background: linear-gradient(45deg, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}

/* Subtitulo */

.hero__subtitle {
  font-family: "Outfit", sans-serif;
  font-size: 2.3rem;
  text-align: center;
  font-weight: 200;
  opacity: 0;
}

/* =============== ABOUT  =============== */

.about {
  padding-top: 180px;
  opacity: 0;
}

/* Párrafo */

.about__p {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
  background-color: #000;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  border: 2px solid var(--primary);
  box-shadow: 0 0 20px 1px var(--primary);
}

/* Texto en negrita */

.bold {
  font-weight: bold;
}

/* =============== PRODUCTOS  =============== */

.section-title {
  text-align: center;
  font-size: 2.3rem;
  color: var(--primary);
}

#products {
  padding-top: 160px;
  opacity: 0;
}

.products {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.products__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
  place-content: center;
}

/* Mensaje cuando no hay productos que coincidan con la búsqueda */

.empty-msg {
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
  color: #ffffff96;
  text-align: center;
  padding: 20px;
}

/* Estilos aplicados a cada producto */

.product {
  padding: 10px;
  background-color: #0e0c2a;
  border: 2px solid var(--primary);
  border-radius: 10px;
  width: 300px;
  opacity: 0;
  transition: all 0.2s;
}
.product:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 0 var(--primary);
}

/* Imagen del producto */

.product__img {
  width: 100%;
  height: 276px;
  object-fit: cover;
}

/* Información del producto */

.product__info {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 130px;
}

.product__text {
  width: 200px;
}

/* Botón de añadir al carrito */

.add-cart-btn {
  align-self: flex-end;
  width: 100px;
  height: 50px;
  background-color: transparent;
  border: 2px solid var(--primary);
  border-radius: 5px;
  color: var(--text);
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
}

.add-cart-btn:hover {
  background-color: var(--primary);
  color: var(--background);
  cursor: pointer;
}
.add-cart-btn:active {
  background-color: var(--text);
  color: var(--background);
}

/* Filtro */

.filter {
  opacity: 0;
}

.filter__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  gap: 5px;
  border: 2px solid var(--text);
  padding: 10px;
  border-radius: 5px;
}

.filter__title {
  font-size: 1.5rem;
  padding: 5px;
  text-align: center;
}

.filter__subtitle {
  text-align: center;
  font-size: 1.1rem;
  padding: 5px;
}

/* Filtrar por precio */

.filter-price {
  margin-bottom: 10px;
}

.filter-price__item {
  background-color: transparent;
  color: var(--text);
  border: 1px solid var(--primary);
  padding: 3px;
  border-radius: 5px;
  width: 70px;
  height: 30px;
}

.filter-price__item::placeholder {
  color: #ffffff71;
}

.filter-price__item:hover {
  border-color: #fff;
}

/* Filtrar por categorías */

.filter-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 10px;
}

.filter-button {
  background: none;
  color: var(--text);
  border: 1px solid var(--primary);
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s;
}

.filter-button:hover {
  background-color: var(--primary);
  cursor: pointer;
  border-color: var(--background);
  color: var(--background);
  font-weight: 600;
}

.filter-button:active {
  background-color: #fff;
  color: var(--background);
}

/* =============== FOOTER  =============== */

/* --- INFORMACIÓN --- */

.footer__info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding: 10px;
  background-color: var(--background-second);
  opacity: 0;
}

.info__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  gap: 10px;
}

.info__div a {
  color: var(--text);
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid var(--primary);
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s;
}

.info__div a:hover {
  color: var(--background);
  background-color: var(--primary);
  border-color: var(--background);
}

.info__div a:active {
  color: var(--background);
  background-color: var(--text);
  border-color: var(--background);
}

/* Redes sociales */

.social__title {
  font-size: 1.1rem;
  padding: 5px;
  text-align: center;
}

.social__link {
  color: var(--text);
  padding: 5px;
  text-align: center;
  font-size: 1.3rem;
}

.social__link i {
  padding: 5px;
  border: 2px solid var(--text);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  transition: all 0.2s;
}

.social__link i:hover {
  color: var(--primary);
  transform: scale(1.2);
  box-shadow: 0 0 20px 0;
  border-color: var(--primary);
}

/* --- Contacto --- */

#contact {
  padding-top: 30px;
  opacity: 0;
}

.footer__contact {
  padding-top: 20px;
  opacity: 0;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 15%;
  margin: 0 auto;
  text-align: center;
  gap: 10px;
  width: 100%;
}

.contact__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__input-label {
  font-size: 1.1rem;
}

.contact__input {
  background-color: transparent;
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding: 2px;
  font-size: 1rem;
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

.contact__input:hover {
  background: linear-gradient(45deg, var(--primary), transparent 30%);
}

.contact__input:focus {
  background: linear-gradient(45deg, var(--primary), transparent 30%);
}

.contact__textarea {
  margin-top: 15px;
  background-color: transparent;
  resize: none;
  color: var(--text);
  font-family: "Poppins", sans-serif;
  padding: 5px;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid var(--primary);
  width: 400px;
}

.contact__textarea::placeholder {
  color: #ffffff84;
}

.contact__textarea:hover {
  background: linear-gradient(55deg, var(--primary), transparent 30%);
}

.contact__textarea:focus {
  background: linear-gradient(55deg, var(--primary), transparent 30%);
}

.contact__submit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#contact__submit {
  width: 500px;
  height: 40px;
  margin: 10px;
  background: var(--primary);
  border: none;
  color: var(--background);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  border-radius: 5px;
  font-weight: 400;
  border: 2px solid var(--background);
  transition: all 0.2s;
}

#contact__submit:hover {
  cursor: pointer;
  background: var(--background);
  border-color: var(--primary);
  color: var(--primary);
  box-shadow: 0 0 20px 0 var(--primary);
}

#contact__submit:active {
  color: var(--text);
  box-shadow: 0 0 20px 0 var(--text);
  border-color: var(--text);
}

/* Copyright */
.copyright-text {
  font-family: "Outfit", sans-serif;
  color: #ffffff69;
  text-align: center;
  padding: 10px;
}

/* Retroalimentación en el form de contacto */
.error-msg {
  color: #f00;
  font-weight: 600;
  font-size: 0.9rem;
}

.error {
  border-color: #f00;
}
.success {
  border-color: #0f0;
}

/* =============== MODAL DE ÉXITO  =============== */

.success-div {
  display: flex;
  position: relative;
}

.success-msg {
  color: #0f0;
  font-weight: 600;
  font-size: 1rem;
  background-color: #0e0c2a;
  padding: 10px;
  border-top: 2px solid var(--text);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateY(50px);
  transition: all 1s;
}

.up {
  transform: translateY(0);
}

.down {
  transform: translateY(50px);
}

/* =============== CARRITO  =============== */

/* Overlay del carrito */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(14, 12, 42, 0.27);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: inline-block;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s;
}

/* Carrito */

.cart__field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px;
  padding-top: 180px;
  background-color: var(--background-second);
  width: 400px;
  height: 100%;
  transform: translateX(100%);
  transition: all 0.2s;
}

.cart__field hr {
  width: 100%;
}

.cart__title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart__title {
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
}

.cart__items-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  overflow-y: scroll;
}

/* Producto en el carrito */

.cart__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Imagen del producto dentro del carrito  */

.cart__img {
  width: 60px;
  border-radius: 5px;
  border: 2px solid var(--secondary);
}

/* Información del producto en el carrito */

.cart__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Manejo de la cantidad de un producto */

.cart__quantity-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.quantity-handler__minus,
.quantity-handler__plus {
  text-align: center;
  border: 2px solid var(--primary);
  background: none;
  color: var(--text);
  width: 30px;
  height: 30px;
  font-size: 1rem;
  border-radius: 5px;
  transition: all 0.2s;
}

.quantity-handler__minus:hover,
.quantity-handler__plus:hover {
  color: var(--background);
  background: var(--primary);
  cursor: pointer;
}

/* Total del carrito */

.cart__total {
  font-weight: 400;
  padding: 0 10px;
  width: 100%;
  text-align: left;
}

/* Botones de comprar y vaciar carrito */

.cart__buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cart__buttons-container div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cart__buy-btn,
.cart__empty-btn {
  width: 200px;
  height: 40px;
  color: var(--text);
  background: none;
  border: 2px solid var(--primary);
  border-radius: 5px;
  font-size: 0.9rem;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  transition: all 0.2s;
}

.cart__buy-btn:hover,
.cart__empty-btn:hover {
  color: var(--background);
  background: var(--primary);
  cursor: pointer;
  box-shadow: 0 0 10px 0 var(--primary);
}
.cart__buy-btn:active,
.cart__empty-btn:active {
  color: var(--background);
  background: var(--text);
  cursor: pointer;
  box-shadow: 0 0 10px 0 var(--text);
  border: none;
}

/* Estilos aplicados cuando el carrito está activo */

.cart-active {
  transform: translateX(0);
}

.overlay-active {
  animation: overlayAnim 0.2s forwards;
}

/* Animación del overlay */

@keyframes overlayAnim {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Mensaje para cuando el carrito esté vacío */

.cart-empty-msg {
  display: none;
}

/* Estilos aplicados al boton de "comprar" y de "vaciar carrito" cuando estén deshabilitados */

.button-disabled {
  color: var(--lightgray);
  background-color: var(--gray);
  box-shadow: none;
  border: none;
  cursor: not-allowed;
  border: 1px solid var(--lightgray);
}

.button-disabled:hover {
  color: var(--lightgray);
  background-color: var(--gray);
  box-shadow: none;
  border: none;
  cursor: not-allowed;
  border: 1px solid var(--lightgray);
}

.button-disabled:active {
  color: var(--lightgray);
  background-color: var(--gray);
  box-shadow: none;
  border: none;
  cursor: not-allowed;
  border: 1px solid var(--lightgray);
}
