/* =============== LAPTOP  =============== */
@media (max-width: 1024px) {
  /* --- HEADER --- */

  /* Navbar */
  .navbar__ul {
    gap: 100px;
  }

  .cart-btn {
    font-size: 2rem;
  }

  /* Buscador */
  .search-input {
    font-size: 1.1rem;
    width: 300px;
  }
  /* Botón de buscar */
  .search-btn {
    font-size: 1.5rem;
  }
  /* --- HERO --- */

  .hero {
    flex-direction: column;
  }

  /* Efecto RGB de la imagen */
  .img-effect {
    width: 600px;
  }

  /* Imagen */
  .hero__img {
    width: 600px;
  }

  /* --- PRODUCTOS --- */

  .products {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .products__items {
    padding: 10px;
  }

  /* Filtro */
  .filter {
    margin: 10px;
  }

  /* Filtrar por precio */
  .filter-price__item {
    width: 100px;
    font-size: 1rem;
  }

  /* Filtrar por categorías */
  .filter-categories {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .filter-button {
    font-size: 1rem;
  }
  .filter__subtitle {
    font-size: 1.2rem;
  }

  /* Producto */
  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 463px;
  }
  .product__info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .product__text {
    width: 100%;
  }

  /* Botón de "añadir al carrito" */
  .add-cart-btn {
    width: 200px;
    font-size: 1.1rem;
    align-self: center;
  }

  /* --- FOOTER --- */

  .footer__info {
    flex-direction: column;
    gap: 20px;
  }
  .info__div {
    gap: 20px;
  }
  .info__div a {
    font-size: 1.1rem;
    padding: 10px;
  }

  /* Redes sociales */
  .social__title {
    font-size: 1.4rem;
  }
  .social__link {
    font-size: 1.5rem;
  }

  .social__link i {
    width: 40px;
    height: 40px;
  }

  /* --- CONTACTO --- */

  .contact__input-label {
    font-size: 1.5rem;
  }
  .contact__input {
    font-size: 1.3rem;
  }
  .contact__textarea {
    font-size: 1.1rem;
  }
  #contact__submit {
    font-size: 1.5rem;
    width: 400px;
    height: 50px;
  }

  /* Retroalimentación del formulario del contacto */
  .error-msg {
    font-size: 1.1rem;
    width: 200px;
  }

  /* --- COPYRIGHT --- */
  .copyright-text {
    font-size: 1.1rem;
  }

  /* --- CARRITO --- */

  /* Botones de "vaciar carrito" y "comprar" */
  .cart__empty-btn,
  .cart__buy-btn {
    height: 60px;
    font-size: 1.2rem;
  }

  /* Total del carrito */
  .cart__total {
    font-size: 1.5rem;
  }

  /* Manejo de cantidad de un producto en el carrito */
  .quantity-handler__minus,
  .quantity-handler__plus {
    font-size: 1.4rem;
    width: 35px;
    height: 35px;
  }
  .quantity-handler__quantity {
    font-size: 1.2rem;
  }
}

/* =============== TABLET  =============== */
@media (max-width: 768px) {
  /* --- HEADER --- */

  /* Búsqueda */
  .search-form {
    display: none;
  }

  /* Botón del menú hamburguesa */
  .menu-navbar-btn {
    display: block;
  }

  /* Segundo navbar */
  .second-navbar {
    display: none;
  }

  /* Navbar para celular */
  .mobile-navbar {
    display: flex;
  }

  /* --- HERO --- */

  .hero {
    width: 400px;
  }

  /* Imagen y efecto RGB */
  .img-effect,
  .hero__img {
    width: 100%;
    height: 400px;
  }

  /* --- ABOUT --- */

  .about__p {
    width: 380px;
  }

  /* PRODUCTOS */

  /* Filtro */
  /* Filtrar por precio */
  .filter-price__item {
    font-size: 1.3rem;
    height: 40px;
  }

  /* Filtrar por categoría */
  .filter-button {
    font-size: 1.1rem;
  }

  /* --- CARRITO --- */
  .cart__field {
    padding-top: 120px;
    width: 100%;
  }

  /* --- MODAL DE ÉXITO --- */
  .success-msg {
    font-size: 1.2rem;
  }
}

/* =============== CELULAR  =============== */
@media (max-width: 425px) {
  /* --- HEADER --- */

  /* Logo */
  .logo__img {
    width: 70px;
  }

  /* Títulos */
  .title {
    font-size: 1.8rem;
  }

  /* Buscador */
  .mobile-search-input {
    width: 250px;
  }

  /* --- HERO --- */
  .hero {
    width: 300px;
  }

  /* Imagen y efecto RGB */
  .img-effect {
    display: none;
  }

  /* --- ABOUT --- */

  .about {
    padding-top: 120px;
  }
  .about__p {
    width: 80%;
  }

  /* --- PRODUCTOS --- */
  #products {
    padding-top: 120px;
  }

  /* --- FOOTER --- */
  /* CONTACTO */
  #contact__submit {
    width: 300px;
  }
  .contact__textarea {
    width: 90%;
  }

  /* --- CARRITO --- */

  .cart__items-container {
    gap: 20px;
  }

  .cart-item__name {
    font-size: 1.1rem;
  }

  .cart-item__price {
    font-size: 1.1rem;
  }

  /* Manejo de la cantidad de un producto en el carrito */
  .cart__quantity-handler {
    flex-direction: column-reverse;
    gap: 5px;
  }
  .quantity-handler__minus,
  .quantity-handler__plus {
    font-size: 1.6rem;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 375px) {
  /* --- HEADER --- */
  .title-container {
    display: none;
  }

  /* Buscador */
  .mobile-search-input {
    width: 225px;
  }

  /* Botón de buscar */
  .mobile-search-btn {
    font-size: 1.6rem;
  }

  /* --- FOOTER --- */

  /* Redes sociales */
  .social__link {
    font-size: 1.8rem;
  }
  .social__link i {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 320px) {
  /* --- HEADER --- */

  /* Buscador */
  .mobile-search-input {
    width: 180px;
  }

  /* Navbar para celular */
  .mobile-navbar__ul {
    font-size: 1.1rem;
  }

  /* --- HERO --- */

  .hero {
    width: 250px;
  }

  /* --- PRODUCTOS --- */

  .product {
    width: 250px;
  }

  /* --- FOOTER --- */

  /* Redes sociales */
  .footer__social {
    text-align: center;
  }
  /* --- CONTACTO --- */

  #contact__submit {
    width: 250px;
  }
}

/* =============== RESOLUCIONES MÁS GRANDES  =============== */
@media (min-width: 2560px) {
  /* --- HEADER --- */

  .header__div {
    justify-content: center;
    gap: 50px;
  }

  /* --- PRODUCTOS --- */

  .products {
    width: 60%;
    margin: 0 auto;
  }

  /* --- FOOTER --- */

  .footer__info {
    justify-content: center;
    gap: 50px;
  }

  /* --- CARRITO --- */

  .cart__field {
    border: 2px solid var(--text);
    border-radius: 5px;
    height: 80%;
  }

  /* Estilos aplicados cuando el carrito está activo */
  .cart-active {
    transform: translateX(-150%);
  }
}
